<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello-Page</title>

    <!-- reference CSS file-->
    <link rel="stylesheet" th:href="@{/css/demo.css}"/>

</head>
<body>
<h1>Hello World of Spring</h1>
<h3>Student Name: <span th:text="${param.studentName}"/></h3>

<br>

<h2 class="message">The Message: <span th:text="${message}"/></h2>

<br>

<h2 class="message">The Message: <span th:text="${message2}"/></h2>

</body>
</html>






















