<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Registiration Form</title>
  <link rel="stylesheet" th:href="@{/css/student-form.css}">
</head>
<body>
<h2 id="title">Student Registiration Form</h2>
  <form th:action="@{processStudentForm}" th:object="${student}" method="POST">
    <div class="name">First Name: <input type="text" th:field="*{firstName}"/></div>
    <div class="name">Last Name: <input type="text" th:field="*{lastName}"/></div>
      <div class="name">Language:
        <select th:field="*{country}">
            <option th:each="tempLanguage : ${languages}" th:value="${tempLanguage}" th:text="${tempLanguage}"/>
        </select>
      </div>

    <div>Gender:
      <input type="radio" th:field = "*{gender}"
                          th:each = "tempGender : ${gender}"
                          th:value = "${tempGender}"
                          th:text = "${tempGender}"/>

    </div>

    <div>Progrmas:
      <input type="checkbox"
                              th:field = "*{programs}"
                              th:each = "tempPrograms : ${progrmas}"
                              th:value = "${tempPrograms}"
                              th:text = "${tempPrograms}"/>
    </div>
      <div><input id="submit" type="submit" value="Submit"/></div>
  </form>

</body>
</html>