<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>EnCars</title>
    <link rel="stylesheet" href="form-style.css">
</head>
<body>

<form th:action="@{/processForm}" th:object="${car}" method="post">

    <div>Car brand: <input type="text" th:field="*{brand}"/></div>
    <span th:if="${#fields.hasErrors('brand')}" th:errors="*{brand}" class="error"></span>

    <div>Car model: <input type="text" th:field="*{model}"/></div>
    <span th:if="${#fields.hasErrors('model')}" th:errors="*{model}" class="error"/>

    <div>Car Year: <input type="number" th:field="*{year}"/></div>
    <span th:if="${#fields.hasErrors('year')}" th:errors="*{year}" class="error"></span>

    <div id="country">
        Country:
        <div th:each="tempSystem : ${countries}">
            <label>
                <input type="checkbox" th:field="*{country}" th:value="${tempSystem}"/>
                <span th:text="${tempSystem}"></span>
            </label>
        </div>
    </div>

    <div>ID name: <input type="text" th:field="*{freePasses}"/></div>
    <span th:if="${#fields.hasErrors('freePasses')}" th:errors="*{freePasses}" class="error"></span>

    <div>Postal Code: <input type="text" th:field="*{licencePlate}"/></div>
    <span th:if="${#fields.hasErrors('licencePlate')}" th:errors="*{licencePlate}" class="error"></span>


    <div><input type="submit" value="Search" id="button"/></div>
</form>

</body>
</html>
