body{
    background-color:#FFFFCC;
}

#place{
    font-size:20px;
    margin-left:550px;
    padding:15px;
    border-radius:8px;
    margin-top:60px;
    background-color:#BFBFBF;
    }

#submit{
    font-size:30px;
    margin-left:630px;
    margin-top:10px;
    border-radius:10px;
    font-style:bold;
}

h1{
    border:2px solid black;
    text-align:center;
    padding:5px;
    margrin-top:40px;
    border-radius:14px;
    background-color:#99FFFF;

}

h3{
    border:2px solid black;
    text-align:center;
    padding:5px;
    margrin-top:30px;
    border-radius:14px;
    background-color:#99FFFF;
}

.message{
    border:2px solid black;
    text-align:center;
    padding:5px;
    margrin-top:30px;
    border-radius:14px;
    background-color:#99FFFF;
}


